<form method="post" action="https://capi.pay2go.com/MPG/mpg_gateway" id="pay2go_form">
  <input type="hidden" name="MerchantID"      value="<%= @merchant_id %>" />
  <input type="hidden" name="RespondType"     value="JSON" />
  <input type="hidden" name="CheckValue"      value="<%= @check_value %>" />
  <input type="hidden" name="TimeStamp"       value="<%= @order.created_at.to_i %>" />
  <input type="hidden" name="Version"         value="1.2" />
  <input type="hidden" name="MerchantOrderNo" value="<%= @order.id %>" />
  <input type="hidden" name="Amt"             value="<%= @order.amount %>" />
  <input type="hidden" name="ItemDesc"        value="紅寶石購買" />
  <input type="hidden" name="Email"           value="<%= current_user.email %>" />
  <input type="hidden" name="LoginType"       value="0" />
  <input type="hidden" name="TradeLimit"      value="<%= 10.minutes %>" />
  <input type="hidden" name="ReturnURL"       value="<%= @return_url %>" />
  <input type="hidden" name="NotifyURL"       value="<%= @notify_url %>" />
  <input type="hidden" name="EmailModify"     value="0" />
  <input type="hidden" name="VACC"            value="1" />
</form>
