<div class="jumbotron">
  <h1>你好!</h1>
  <p>寶石鑑定商你一定賺很大!</p>
</div>

<h1>商品列表</h1>

<%= link_to 'New Product', new_product_path, class: "btn btn-success btn-lg"%>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to '加到購物車', add_to_cart_product_path(product), method: :put, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products, theme: "twitter-bootstrap-3" %>

